imgaug==0.4.0
numpy==1.24.1
pandas==1.5.2
plotly==5.11.0
pydantic==1.10.4
reclist==0.3.1
scikit_learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
setuptools==65.6.3
streamlit==1.16.0
tensorboardX==2.5.1
torch==1.13.1
xgboost==1.7.3
joblib==1.2.0
tensorboard==2.11.0
jupyterlab==3.5.2